.LoginPage-wrapper {
  height: 500px;
  width: 900px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2a9d8f;
  display: flex;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 2px 6px 4px rgba(0, 0, 0, 0.25);
  .LoginPage-left-content {
    height: 100%;
    width: calc(900px - 450px);
    background-color: #2a9d8f;
    margin: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    header {
      height: 100px;
      img {
        width: 45px;
        height: 45px;
        margin-bottom: 16px;
        margin: 0 auto;
      }
      h1 {
        display: block;
        font-family: RetroFont;
        font-style: normal;
        font-weight: 400;
        font-size: 50px;
        /* or 32% */
        line-height: 50px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        color: #e9c46a;
      }
    }
    main {
      margin-top: 28px;
      form {
        display: flex;
        flex-direction: column;

        .forgotpass {
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          /* or 133% */
          text-align: end;
          text-align: right;
          cursor: pointer;
          color: #ffffff;
        }
        .forgotpass:hover {
            color: #e9c46a;
        }
        .btn-login {
          margin-top: 17px;
          font-family: RetroFont;
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 37px;

          color: #ffffff;
          width: 340px;
          height: 37px;
          background: #f4a261;
          border-radius: 4px;
          transition: all linear 0.3s;
        }
        .btn-login:hover {
          background: #e76f51;
        }
      }
    }
    footer {
      span {
      }
    }
  }
  .LoginPage-right-content {
    transition: all linear 0.3s;
    height: 100%;
    width: 450px;
    background-color: #f4a261;
    position: relative;
    text-align: center;
    span {
      display: block;
      font-style: normal;
      font-weight: 250;
      font-size: 45px;
      line-height: 16px;
      /* or 36% */
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      color: #2a9d8f;
      margin-top: 55px;
      font-family: RetroClassic;
    }
    img {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}
